<configuration>
  <connectionStrings>
    <add name="MyDbConnection" 
         connectionString = "Server=DESKTOP-MJU7F0O\HARIS;Database=Web_Form;User Id=sa;Password=misharis;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" />

    <!-- Authentication Configuration -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="30" />
    </authentication>

    <!-- Authorization Configuration -->
    <authorization>
      <deny users="?" />
    </authorization>

  </system.web>
</configuration>
