@{
    ViewBag.Title = "Login";
}
<h2> Currently in Login_Page </h2>
<form method="post">
    <label>Username:</label>
    <input type="text" name="UserName" required />
    <br />
    <label>Password:</label>
    <input type="password" name="Password" required />
    <br />
    <input type="submit" value="Login" />
    <p>@ViewBag.Error</p>
</form>


