@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

@Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "btn btn-dangler" });
@*//<a href="/Login/Logout" class="btn btn-danger">Logout</a>*@

<h1>After Login to Home Page   </h1>
